<div id="savings-drilldown" >
	<div class="clearfix">
		<div class="col-sm-12 no-padding">
			<!-- ELEMENT Saving & Production -->
			<div class="panel corner" as-element-show-loading="{{ !isDataLoaded.comboChart }}">
				<div class="loading-animation" ng-hide="isDataLoaded"></div>
				<div class="panel-heading">
					<i class="icon icon-ui-info"></i>
					<h5 class="panel-title drilldown">
						Savings
					</h5>
					<a class="drilldown-close" ng-click="closeDrilldown()"></a>
				</div>
				<div class="panel-body">
					<div class="widget" style="width: 100%; min-height: 330px;">
						<highchart id="savingsComboChart" config="comboChart" class="widget chart-widget"></highchart>
					</div>
					<div class="footer">
						<div class="kpis">
							<div class="kpi">
								<div class="kpi-title">Total Savings</div>
								<div class="kpi-value">${{::kpiData.totalSavings}}</div>
							</div>
							<div class="kpi">
								<div class="kpi-title">Total Production</div>
								<div class="kpi-value">{{kpiData.totalProduction | number:0 }}<span class="unit">kWh</span></div>
							</div>
							<div class="kpi" ng-repeat="production in kpiData.totalProductionBySources">
								<div class="kpi-title">
									<span style="color: {{ ::production.color }};">&#9679;</span>
									{{::production.displayName}}
								</div>
								<div class="kpi-value">{{production.kwh | number:0 }}<span class="unit">kWh</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Saving & Production -->
		</div>
		<div class="col-sm-6 no-padding">
			<!-- Element Saving Per Facility -->
            <div class="panel" as-element-show-loading="{{ !isDataLoaded.areaChart }}">
            	<div class="loading-animation" ng-hide="isDataLoaded"></div>
				<div class="panel-heading">
					<i class="icon icon-ui-info"></i>
					<h5 class="panel-title">
						Savings Per Facility
					</h5>
				</div>
				<div class="panel-body">
					<div class="widget" style="width: 100%; height: 494px;padding-top: 10px;">
						<highchart id="timelineChart" config="areaChart">
					</div>
				</div>
			</div>
			<!-- End Saving Per Sources -->
        </div>
        <div class="col-sm-6 no-padding">
            <!-- Element saving-per-month -->
            <div class="panel" as-element-show-loading="{{ !isDataLoaded.table }}">
				<div class="panel-heading">
					<i class="icon icon-ui-info"></i>
					<h5 class="panel-title">
						Savings Per Month
					</h5>
				</div>
				<div class="panel-body">
					<div as-sp-list-scroll-bar class="row widget table-widget" scroll-wrapper-height="494px">
				<!--
					<div class="date-range">
			            <label for="date_from">From:</label>
			            <input type="text" ng-model="tableChart.dateFrom" id="date_from">
			            <label for="date_to">To:</label>
			            <input type="text" ng-model="tableChart.dateTo" id="date_to">
			        </div>
			    -->
						<table class="table ng-table-responsive">
							<tr class="">
								<th colspan="2"></th>
								<th ng-repeat="column in tableChart.columns"><span>{{column}}</span></th>
							</tr>
							<tr ng-repeat="row in tableChart.data">
								<td colspan="2"><span class="diff-percent">{{row.percent}}%</span><span class="dimensions">{{row.date | amDateFormat:'MMMM, YYYY'}}</span></td>
								<td ng-repeat="sourceName in tableChart.sourceNames" class="data">
									<span class="bold"><span>$</span>{{(row.sources[sourceName].savings||0) | number:2 }}</span>
									<span class="thin">{{(row.sources[sourceName].kwh||0) | number:0 }} <span>kWh</span></span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!-- End saving-per-month -->
        </div>
	</div>
</div>