form(action="/assets/general", method="post", enctype="multipart/form-data")
    label Assets file:
        input(type="file", name="assetsFile", enctype="multipart/form-data")
    input(type="submit", value="Upload")