html(lang="en", id="ng-app", ng-app="blApp.dataSense", xmlns:ng="http://angularjs.org")
    head
        meta(charset='utf8')
        title BrighterLink Analyze
        != CDN('/assets/img/favicon.ico')
        //- style sheets for data-sense app
        link(rel='stylesheet', href='//cloud.webtype.com/css/f3ad5809-8f3d-4d94-a57b-31fdc688f3fa.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')

        != CDN('/lib/angular-ui/angular-ui.css')
        != CDN('/lib/jquery-ui/jquery-ui.css')
        != CDN('/lib/select2/select2.css')
        != CDN('/lib/uniform/css/uniform-theme.css')
        != CDN('/lib/colorpicker/css/colpick.css')
        != CDN('/lib/fontpicker/jquery.ui.fontSelector.css')
        != CDN('/lib/notyfy/jquery.notyfy.css')
        != CDN('/lib/notyfy/boo-notyfy.css')
        != CDN('/lib/notyfy/themes/boo-notyfylight.css')
        != CDN('/lib/jQueryUITimepicker/css/jquery-ui-timepicker-addon.css')
        != CDN('/lib/angular-table/ng-table.css')
        != CDN('/lib/angular-treeview/css/tree-control.css')
        != CDN('/lib/angular-treeview/css/tree-control-attribute.css')
        != CDN('/lib/angular-ui-select/select.css')
        != CDN('/lib/jquery-ui/jquery-ui.css')
        != CDN('/lib/lightbox/css/lightbox.css')
        != CDN('/lib/custom-forumla/jquery.tagsinput.css')
        != CDN('/lib/malihu-custom-scrollbar/jquery.mCustomScrollbar.css')
        != CDN('/lib/datepicker/datepicker.css')
        != CDN('/lib/eternicode-bootstrap-datepicker/css/datepicker3.css')
        != CDN('/lib/d3/nv.d3.css')

        != CDN('/assets/css/general.min.css')
        != CDN('/assets/css/components.min.css')
        != CDN('/assets/css/animate.min.css')
        != CDN('/assets/css/isotope.css')

        //- style sheets for data-sense app
        != CDN('/bl-data-sense/assets/css/datasense.min.css')

        //- Include core javascript libraries

        //- jquery && bootstrap
        != CDN('/lib/bugreport/bug.report.js')
        != CDN('/lib/jquery/jquery.js')
        != CDN('/lib/ajaxupload/ajaxupload.3.5.js')
        != CDN('/lib/jquery/jquery.event.drag-2.2.js')
        != CDN('/lib/jquery/jquery.nicescroll.min.js')
        != CDN('/lib/jquery/jquery.blockUI.js')
        != CDN('/lib/bootstrap/js/bootstrap.min.js')
        != CDN('/lib/bootstrap/js/bootstrap-hover-dropdown.js')
        != CDN('/lib/jquery-ui/jquery-ui.js')
        != CDN('/lib/select2/select2.js')
        != CDN('/lib/uniform/jquery.uniform.js')
        != CDN('/lib/colorpicker/colpick.js')
        != CDN('/lib/fontpicker/jquery.ui.fontSelector.js')
        != CDN('/lib/notyfy/jquery.notyfy.js')
        != CDN('/lib/jQueryUITimepicker/js/jquery-ui-timepicker-addon.js')
        != CDN('/lib/jQueryUITimepicker/js/jquery-ui-sliderAccess.js')
        != CDN('/lib/jquery/jquery.tabSlideOut.v1.3.js')
        != CDN('/lib/validate/js/jquery.validate.min.js')
        != CDN('/lib/imagesloaded/imagesloaded.pkgd.js')
        != CDN('/lib/lightbox/js/lightbox.js')
        != CDN('/lib/modernizr/modernizr.js')
        != CDN('/lib/TapDigit/TapDigit.js')
        != CDN('/lib/custom-forumla/jquery.tagsinput.js')
        != CDN('/lib/malihu-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js')
        != CDN('/lib/datepicker/datepicker.js')
        != CDN('/lib/eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js')
        != CDN('/lib/custom-check/custom-check.js')
        script(src='/socket.io/socket.io.js')
        
    body(ng-controller="DataSenseController", ng-init="init(#{JSON.stringify(errors)},#{JSON.stringify(permissions)},#{JSON.stringify(currentUser)})", class="ng-cloak", ng-cloak, close-dialog="", close-component-dialog)
        .container-fluid
            .row
                section.col-bl-12
                    div.bl-control-bar-wrapper(ng-include="'/bl-data-sense/views/controlbar.html'")
                    div.dashboard-wrapper(ng-include="'/bl-data-sense/views/dashboard-selector.html'")
                    section.wrapper
                        div(ng-include="'/bl-data-sense/views/canvas.html'")
        div(ng-include="'/bl-data-sense/views/modal-add-new-widget.html'")
        div(ng-include="'/bl-data-sense/views/modal-dashboard-update.html'")
        div(ng-include="'/bl-data-sense/views/modal-segment-update.html'")
        div(ui-view="routerView")
        != CDN('/lib/angular/angular.min.js')
        != CDN('/lib/angular/angular-animate.min.js')
        != CDN('/lib/angular/angular-route.min.js')
        != CDN('/lib/angular/angular-sanitize.js')
        != CDN('/lib/angular-image-crop/ng-img-crop.js')
        != CDN('/lib/angular-clipboard/ng-clip.min.js')
        != CDN('/lib/angular-clipboard/ZeroClipboard.min.js')
        != CDN('/lib/angular-ui-router/angular-ui-router.min.js')
        != CDN('/lib/angular-file-upload/ng-flow-standalone.js')
        != CDN('/lib/angular-ui-select/select.js')
        != CDN('/lib/angular-ui-bootstrap/ui-bootstrap-tpls-1.2.5.min.js')
        != CDN('/lib/angular-table/ng-table.js')
        != CDN('/lib/angular-isotope/isotope.pkgd.js')
        != CDN('/lib/angular-treeview/angular-tree-control.js')
        != CDN('/lib/angular-socket-io/socket.min.js')
        != CDN('/lib/angular-autocomplete/autocomplete.js')
        != CDN('/lib/storyjs/storyjs-embed.js')
        != CDN('/lib/timeline/timeline.js')

        //- d3 js libs
        != CDN('/lib/d3/d3.js')
        != CDN('/lib/d3/nv.d3.js')
        != CDN('/lib/d3/nv.d3.ext.js')
        != CDN('/lib/d3/angularjs-nvd3-directives.js')
        != CDN('/lib/moment/moment.min.js')

        if (config.env == 'production')
            script(src='/dist/app-datasense.min.205ab86e.js')
            script(src='/dist/tmpl-datasense.min.6238b.js')
        else
            script(src='/components/component.js')
            script(src='/components/services/presentation.js')
            script(src='/components/services/project.js')
            script(src='/components/services/asset.js')
            script(src='/components/services/editor.js')
            script(src='/components/services/tag.js')
            script(src='/components/services/account.js')
            script(src='/components/services/team.js')
            script(src='/components/services/user.js')
            script(src='/components/services/widget.js')
            script(src='/components/services/toggle.js')
            script(src='/components/services/util.js')

            script(src='/components/directives/company-panel-uploader.js')
            script(src='/components/directives/formula.js')
            script(src='/components/directives/tab-slide-out.js')
            script(src='/components/directives/close-component-dialog.js')
            script(src='/components/directives/delete-confirm-dialog.js')
            script(src='/components/directives/share-dialog.js')
            script(src='/components/directives/custom-scrollbar.js')
            script(src='/components/directives/validate-compare.js')
            script(src='/components/directives/upload.js')
            script(src='/components/directives/source-uploader.js')
            
            script(src='/components/company-panel/js/directives/asset.js')
            script(src='/components/company-panel/js/controllers/company.js')
            script(src='/components/company-panel/js/controllers/company-accounts.js')
            script(src='/components/company-panel/js/controllers/company-assets.js')
            script(src='/components/company-panel/js/controllers/company-ecms.js')
            script(src='/components/company-panel/js/controllers/company-users.js')
            script(src='/components/company-panel/js/controllers/company-sources.js')
            script(src='/components/navigation-bar/js/controllers/navbar.js')
            script(src='/components/navigation-bar/js/controllers/user-profile.js')
            script(src='/components/navigation-bar/js/controllers/upload-photo.js')
            script(src='/components/navigation-bar/js/controllers/app-panel.js')

            script(src='/bl-data-sense/js/app.js')
            script(src='/bl-data-sense/js/services/dashboard.js')
            script(src='/bl-data-sense/js/services/widget.js')
            script(src='/bl-data-sense/js/services/widget-util.js')
            script(src='/bl-data-sense/js/services/segment.js')
            script(src='/bl-data-sense/js/directives/date-range.js')
            script(src='/bl-data-sense/js/controllers/dashboard-panel.js')
            script(src='/bl-data-sense/js/controllers/canvas.js')
            script(src='/bl-data-sense/js/controllers/add-new-widget.js')
            script(src='/bl-data-sense/js/controllers/data-sense.js')
            script(src='/bl-data-sense/js/controllers/dashboard-update.js')
            script(src='/bl-data-sense/js/controllers/data-sense-router.js')
            script(src='/bl-data-sense/js/controllers/segment.js')
            script(src='/bl-data-sense/js/controllers/segment-update.js')
            script(src='/bl-data-sense/js/controllers/dashboard-selector.js')
            script(src='/bl-data-sense/js/directives/segment-icon.js')
            script(src='/bl-data-sense/js/directives/close-dialog.js')
            script(src='/bl-data-sense/js/directives/equivalencies-icon.js')
            script(src='/bl-data-sense/js/directives/sortable.js')
            script(src='/bl-data-sense/js/directives/pie-auto-column.js')
            script(src='/bl-data-sense/js/directives/slideable.js')
