<div ng-init="init('recent-updates')" id="recent-updates-content" class="content">
<!-- Start content -->
<h2 class="title">BrighterLink Release Log</h2>

<h3><i>Version 0.2.22</i></h3>
Release date: 01/20/2015

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Widget Editor includes functionality to add Image Widgets to the Analyze Application.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Cache bursting across the entire Platform.</li>
	<li>Loading overlay onLoad or refresh when accessing BrighterLink Applications.</li>
	<li>Share Dialog includes a Copy link to share Dashboards.</li>
	<li>Onclick Analyze Dashboards open up in a new tab while the CTRL key pressed down.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>Incorrect calculation single point values in real time mode.</li>
	<li>Login page does not show login dialog in IE6-9.</li>
	<li>Widgets do not show compare date range data.</li>
	<li>Group dimension should not be calculated if sub day option is selected.</li>
	<li>Duplicate requests in Analyze app.</li>
	<li>Deleting TMs does not clear them from list until after refresh.</li>
	<li>Equivalencies Widgets are not responsive on smaller screens.</li>
	<li>Widget have incorrect data if  you edit group dimensions without refreshing the page.</li>
	<li>Predictive Autocomplete and the Search input field do not work in the Segment Dialog.</li>
	<li>Utilities in Sources loads too slowly and does not show "loading" animation.</li>
	<li>Bar widget X-axis, Y-axis labels are not working properly.</li>
	<li>When "Maintain Real-Time" is checked, the dashboard periodically flickers.</li>
	<li>In FF, Timeline Widgets are distorted and require a refresh to display them appropriately  if their segments are updated.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>On second login, an Info panel, so that Users are aware of the fact that the current Dashboard is where they left off.</li>
	<li>A legend label editable field to edit a widget legend label onClick of the label.</li>
	<li>Help and Updates dialog in the BrighterLink App panel  to view recent updates and access helpful end user information.</li>
</ul>

<h3><i>Version 0.2.21</i></h3>
Release date: 01/13/2015

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Facility tag Icons are vertically aligned appropriately in the Segments dialog.</li>
	<li>Precise and readable Widget charts with rounded values.</li>
	<li>Fixed an issue where, onClick the Timeline followed the cursor.</li>
	<li>In Firefox, the Date Range dialog updates widgets on Dashboards.</li>
	<li>Internet Explorer displays User Profile menu sections and their accompanying content.</li>
	<li>Assets are uploaded to Image URLs of Image Widgets.</li>
	<li>User Profile setting values are recovered after Users cancel their edits.</li>
	<li>Social logins are activated from User profile settings.</li>
	<li>Fixed cut off  and missing Y and X axis labels.</li>
	<li>Metrics are added to new Widgets and Dashboards.</li>
	<li>Updated the Reset password dialog.</li>
	<li>Standard and improved email template used for all system emails.</li>
	<li>Consistent Share dialog used across all applications.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Real Time rendered Widget Instances across the Platform.</li>
	<li>Consistent form validation in User profile settings, Team, and Account sections of the Company panel.</li>
	<li>Newly created Team Members have at least one data source associated to their user profile upon their creation.</li>
	<li>Added the new Brighterlink logo across the entire platform.</li>
	<li>Local time zone option in the Date range dialog to ensure Widgets display data corresponding to the appropriate device’s local time zone.</li>
	<li>Sub- day options in the Date Range dialog to display granular Widget data.</li>
	<li>Weather data is defined by a Scope or Node.</li>
	<li>By default newly created Scopes possess their local time zone.</li>
	<li>Combo box within the “Add Dashboard” dialog to facilitate the creation of collections.</li>
	<li>Data sources upload dialog  to upload data in CSV and other formats.</li>
	<li>Data sources Edit dialog to filter, sort, view, and edit data.</li>
	<li>User option to reorder Collections and Dashboards in the Dashboard panel.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>Incorrect calculation single point values in real time mode.</li>
	<li>Login page does not show login dialog in IE6-9.</li>
	<li>Widgets do not show compare date range data.</li>
	<li>Can not add an Image widget to Dashboard in the Analyze app.</li>
	<li>Group dimension should not be calculated if sub day option is selected.</li>
	<li>Duplicate requests in Analyze app.</li>
	<li>Deleting TMs does not clear them from list until after refresh.</li>
	<li>Equivalencies Widgets are not responsive on smaller screens.</li>
	<li>Widget have incorrect data if  you edit group dimensions without refreshing the page.</li>
	<li>Predictive Autocomplete and the Search input field do not work in the Segment Dialog.</li>
	<li>Utilities in Sources loads too slowly and does not show "loading" animation. </li>
	<li>Bar widget X-axis, Y-axis labels are not working properly.</li>
	<li>When "Maintain Real-Time" is checked, the dashboard periodically flickers.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>On second login, an Info panel, so that Users are aware of the fact that the current Dashboard is where they left off.</li>
	<li>Weather Station Scope type used in association with other Scopes.</li>
	<li>Email dialog to email a link and/or PDF of a dashboard.</li>
</ul>

<h3><i>Version 0.2.20</i></h3>
Release date: 01/06/2015

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Updated the Set Password User Interface dialog.</li>
	<li>Included a scrollbar to sections of the Presentation Panel.</li>
	<li>Advanced Formatting font color in the Weather Widget is consistent with other Widgets.</li>
	<li>Extendable Control bar to accommodate numerous Segments.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Added a Custom subject and message input fields to the Share Presentation dialog.</li>
	<li>"Reset Password" link available for any user to initiate a password reset if needed.</li>
	<li>A default dialog to designate Dashboards which are visible to newly created Users.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>onClick, the Timeline follows the cursor.</li>
	<li>Equivalencies Widgets are not responsive on smaller screens.</li>
	<li>Clicking "Add Metric" does not update and return to the list of Metrics.</li>
	<li>Error: Invalid value for &lt;g&gt; attribute transform="translate(NaN,5)  thrown after adding a metric to a new sensor.</li>
	<li>Image Widget cannot upload Assets to the Image URL.</li>
	<li>Predictive Autocomplete and the Search input field do not work in the Segment Dialog.</li>
	<li>Social Logins are not activated in the User Profile settings.</li>
	<li>Utilities in Sources loads too slowly and does not show "loading" animation.</li> 
	<li>Updates to Segments used by a Widget are not saved.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>Upload dialog to upload data in CSV and other formats.</li>
	<li>Help and Updates dialog in the BrighterLink App panel to view recent updates and access helpful end user information.</li>
	<li>Loading overlay animation onLoad/Refresh, prior to Data Loading in Present and Analyze.</li>
</ul>

<h3><i>Version 0.2.19</i></h3>
Release date: 12/30/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Added missing values for CO2 Avoided in Kilograms and Greenhouse Emissions in Kilograms to Energy Equivalencies Widgets.</li>
	<li>Duplicated Widgets can be deleted.</li>
	<li>Included a scrollbar to all sections of the Company Panel and Segment Panel.</li>
	<li>Fixed the undefined error across the Platform.</li>
	<li>Updated the Table Widget to display data when the Date Range is changed.</li>
	<li>Forgot Password and Set Password resets work seamlessly.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>All Dashboards require a mandatory collection name.</li>
	<li>Enabled a Primary layout option in the Layout dialog which spans Widgets  to their full width by default.</li>
	<li>End Users  view other Users with whom they share sources.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>onClick, the Timeline follows the cursor.</li>
	<li>Equivalencies Widgets are not responsive on smaller screens.</li>
	<li>Metrics do not appear in the Related Metrics Panel for Enphase DataLoggers.</li>
	<li>Cannot add metrics to new widgets for new dashboards.</li>
	<li>Clicking "Add Metric" does not update and return to the list of Metrics.</li>
	<li>Error: Invalid value for &lt;g&gt; attribute transform="translate(NaN,5)  thrown after adding a metric to a new sensor.</li>
	<li>Image Widget cannot upload Assets to the Image URL.</li>
	<li>The default Advanced Formatting font color in the Weather Widget is not consistent with the other Widgets.</li>
	<li>Predictive Autocomplete and the Search input field do not work  in  the Segment Dialog.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>An "Embed in Webpage" dialog, to include a Dashboard in a webpage</li>
	<li>Help and Updates dialog in the BrighterLink App panel to view recent updates and access helpful end user information.</li>
	<li>Consistent Share Dialog across all apps in the Platform</li>
</ul>

<h3><i>Version 0.2.18</i></h3>
Release date: 12/23/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Weather Icons in a graph Widget are consistent with current Weather conditions.</li>
	<li>Graph Widgets display Weather and Temperature data concurrently when both options are selected.</li>
	<li>Fixed the TypeError that occurred when adding metrics to new sensor.</li>
	<li>Updated the Widget Editor to make it consistent with the rest of the platform.</li>
	<li>Deprecated old code from "Add Dashboard" dialog in the Collection Panel.</li>
	<li>Energy Equivalences Widgets display data for all time.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Added a scrollbar to the Dashboard Panel.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>onClick, the Timeline follows the cursor.</li>
	<li>"Undefined" error frequently appears in the Navigation bar.</li>
	<li>Equivalencies Widgets are not responsive on smaller screens.</li>
	<li>Metrics do not appear in the Related Metrics Panel for Enphase DataLoggers.</li>
	<li>Forgot Password link fails to initiate password reset.</li>
	<li>Set Password fails to register  "Enter" keypress.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>Real Time rendered Widgets Instances.</li>
	<li>Copy Link dialog to share Dashboard links.</li>
	<li>Email dialog to email a link or PDF of a Dashboard.</li>
</ul>

<h3><i>Version 0.2.17</i></h3>
Release date: 12/16/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Table Widgets are grouped by Minute, Hour, Date, Week,  Month, and Year.</li>
	<li>Refined the Application Programming Interface making it more meaningful and efficient.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Metrics with the same name cannot be created for the same Sensor.</li>
	<li>Implemented a Content Delivery Network to better serve BrighterLink assets to Users more efficiently and improve the overall platform performance.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>onClick, the Timeline follows the cursor.</li>
	<li>Inconsistent Weather icons in a graph Widget.</li>
	<li>"Undefined" error frequently appears in the Navigation bar.</li>
	<li>Equivalencies Widgets are not responsive on smaller screens.</li>
	<li>Metrics do not appear in the Related Metrics Panel for Enphase DataLoggers.</li>
	<li>Forgot Password link fails to initiate password reset.</li>
	<li>Set Password fails to register  "Enter" keypress.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>Real Time rendered Widgets Instances.</li>
	<li>Copy Link dialog to share Dashboard links.</li>
	<li>Email dialog to email a link or PDF of a Dashboard.</li>
</ul>

<h3><i>Version 0.2.16</i></h3>
Release date: 12/09/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Widgets display data for entire date ranges even if there are zero values.</li>
	<li>Fixed Segments to allow the creation of Widgets.</li>
	<li>In the Present App, clicking a Widget on the Timeline moves the timeline to the beginning of the Widget.</li>
	<li>Only Widgets with the same start time point are displayed on the Canvas for easy comprehension.</li>
	<li>Table Widgets appear on their respective Dashboards after being created.</li>
	<li>Newly created BrighterLink Accounts are Instantly created in the Vault platform and synchronized.</li>
	<li>Updated Social logins with more login options.</li>
	<li>The Apps Panel disappears after a click event.</li>
	<li>User Accounts are easily found using the search bar in the Accounts section of the Company Panel.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Dashboards with a “Private” option enabled are limited to their authors.</li>
	<li>Timeline Widgets include a bar option to display comparison metrics.</li>
	<li>Each Dashboard contains a Delete Dialog for easy management.</li>
	<li>Timeline Widgets are grouped according to the Year, Month, Week, Date, Hour, and Minute.</li>
	<li>Notifications alert Users to input missing Widget Titles as they are add Widgets to Dashboards.</li>
	<li>onClick, the Company Panel reverts to its default state to ease navigation.</li>
	<li>Included a verification animation during the creation of CNAMEs.</li>
	<li>Custom URLs are active and copyable links.</li>
	<li>A 404 page to aid Users understand the cause of broken links.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>onClick, the Timeline follows the cursor.</li>
	<li>Inconsistent Weather icons in a graph.</li>
	<li>"Undefined" error frequently appears in the Navigation bar.</li>
	<li>Equivalencies Widgets are not responsive on smaller screens.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>Real Time rendered Widgets Instances.</li>
	<li>Embedded Web page dialog to embed Web pages in Dashboards.</li>
	<li>Standard tooltip component that can be used across the entire platform, to ensure a common experience.</li>
</ul>

<h3><i>Version 0.2.15</i></h3>
Release date: 12/02/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Re-established  the ability to create Widgets in the Analyze Application.</li>
	<li>Updated the Clone functionality in the Present Application.</li>
	<li>Enhanced the Applications Panel with new Apps Icons.</li>
	<li>Metrics utilize updated methods to provide more precise and accurate data in Widgets.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>All Widgets in the Analyze Application can be minimized.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>No notice appears when a User adds and saves a Widget without a Title.</li>
	<li>onClick, the Timeline follows the cursor.</li>
	<li>Inconsistent Weather icons in a graph.</li>
	<li>"Undefined" error frequently appears in Navigation bar.</li>
	<li>Clicking  a Widget Instance in the Timeline fails to move the Timeline to beginning of Widget Instance.</li>
	<li>Equivalencies Widgets are not responsive on smaller screens.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>An updated Social Login to accommodate more Users.</li>
	<li>Cache busting functionality across the BrighterLink Platform.</li>
	<li>Real Time rendered Widgets Instances.</li>
</ul>

<h3><i>Version 0.2.14</i></h3>
Release date: 11/25/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Pie Widgets are responsive and not restricted by narrow column widths.</li>
	<li>Single Date Ranges return data values as expected.</li>
	<li>onClick Widget “Edit” and “Remove”, and Dashboard “Edit” icons instantly reveal their respective appropriate dialogs.</li>
	<li>Removed Delete and Edit links from the Control bar.</li>
	<li>By default Dashboards without Segments are automatically assigned “All Segments”.</li>
	<li>Added a Reset Password link in the User Preferences Panel.</li>
	<li>Pie Widget Instances are retained when Sources are deleted.</li>
	<li>Moving some widgets in Timeline does not result in the error “loading icon” being displayed.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>onClick of the “Play Presentation” button, a Preloading loading message in the Present Application appears.</li>
	<li>Automatic deletion of Widgets and Dashboards.</li>
	<li>OnClick Dashboards refresh.</li>
	<li>Disabled  the provision to add Widgets until segments are selected.</li>
	<li>Included Geography and Origin-based group dimensions for use within Widgets.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>No notice appears when a User adds and saves a Widget without a Title.</li>
	<li>onClick, the Timeline follows the cursor.</li>
	<li>Weather icons in a graph are not consistent.</li>
	<li>"Undefined" error frequently appears in the Navigation bar.</li>
	<li>Clicking  a Widget Instance in the Timeline fails to move the Timeline to beginning of Widget Instance.</li>
	<li>Equivalencies Widgets need to be more responsive on smaller screens.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>An updated Social Login to accommodate more Users.</li>
	<li>Cache busting functionality across the BrighterLink Platform.</li>
	<li>Real Time rendered Widgets Instances.</li>
	<li>Ability to minimize Widget Instances.</li>
</ul>

<h3><i>Version 0.2.13</i></h3>
Release date: 11/18/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Added the missing Logo icon to the Presentation Details modal.</li>
	<li>Restored the distorted Delete dialog onHover in the Presentation Panel</li>
	<li>Similar Widget Instance  types can be added to the Canvas without being hidden behind the Canvas.</li>
	<li>Widgets are grouped based on specific defined dimensions and  displayed appropriately.</li>
	<li>onClick, the dropdown arrow reveals Analyze Dashboards if they exist in the Dashboard Panel.</li>
	<li>Dashboards have a dynamic Title Header.</li>
	<li>Alphabetized Dashboards and Collections in the Analyze Application.</li>
	<li>Date Ranges exceeding a year are selected without errors occurring.</li>
	<li>Required saved fields appear in the Widget Editor as expected.</li>
	<li>Relocated the Pie Widget legend below the chart displays.</li>
	<li>Active sources  are retained in the Data Section of  the Presentation Panel.</li>
	<li>Presentations play without errors occurring.</li>
	<li>Timeline Dates are legible and understandable within the context of the graphs displayed.</li>
	<li>Updated Widget Instances use Labels which are easy to comprehend.</li>
	<li>Create, Read Update, and Delete (CRUD) capabilities are performed on Facility, DataLogger, and Metric Data Sources without impediments.</li>
	<li>Template based Presentations are created in the Present Application.</li>
	<li>Restored the distorted “Edit Account” button in the Company Panel.</li>
	<li>Removed Groups from the Sources in the Company Panel.</li>
	<li>Fixed the CNAME error which appeared when creating an Account.</li>
	<li>Applications are automatically assigned to new users.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Included an intuitive and attractive  loading animation to indicate Widgets are being updated when a Date Range is updated.</li>
	<li>Timeline Widget instances are grouped based on selected Date Ranges.</li>
	<li>BrighterLink is accessible from SalesForce.com(SFDC).</li>
	<li>onLogin, existing Users access their previous, or last edited Presentations  in the Present Application.</li>
	<li>Developed a new Platform Schema and Continuous Integration components  to enhance our scalability and efficiency.</li>
	<li>Created a User Social Accounts dialog to manage social Accounts.</li>
	<li>Developed a Brightergy Personnel Account to manage all Brightergy Personnel.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>Pie Widgets are cut down when narrowed.</li>
	<li>No notice appears when a User adds and saves a Widget without a Title.</li>
	<li>onClick, the Timeline follows the cursor.</li>
	<li>If no segments are selected, Dashboards use Segments.</li>
	<li>Moving some widgets in timeline results in the error “loading icon” displayed.</li>
	<li>Users cannot delete duplicate Widget Instances.</li>
	<li>Weather icons in a graph are not consistent.</li>
	<li>"Undefined" error frequently appears in Navigation bar.</li>
	<li>When Users delete a source in the company panel, the Pie Widget disappears.</li>
	<li>Clicking  a Widget Instance in timeline fails to move the timeline to beginning of Widget Instance.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>An updated Social Login to accommodate more Users.</li>
	<li>Cache busting functionality across the BrighterLink Platform.</li>
	<li>Real Time rendered Widgets Instances.</li>
	<li>Ability to minimize Widget Instances.</li>
</ul>

<h3><i>Version 0.2.12</i></h3>
Release date: 11/11/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Widgets retain their Dimensions upon refresh and resize.</li>
	<li>Alphabetized and improved the overall display of  Data Sources in Widget Editors, Segment Panel, and Presentation Panel.</li>
	<li>Updated the Date Range dialog comparison options.</li>
	<li>Removed scrollbars from the Settings and Presentation modals.</li>
	<li>Eliminated abbreviated values from all Widgets.</li>
	<li>onClick Drop-down panels are automatically hidden.</li>
	<li>Widget Instance details modal saves values.</li>
	<li>Segments are displayed in the control bar.</li>
	<li>Updated Widget Instance Dimension names.</li>
	<li>Presentation Title updates in the Presentation details modal are reflected in Presentations in the Presentation Panel.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Included Calendar shortcuts to the Date Range dialog to easily select Data Ranges without the use of the Calendar.</li>
	<li>Added new intuitive Icons to the  viewer mode selection lists in the Present Application.</li>
	<li>Profile dialog to upload and manage User Profile images.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>Group Dimensions are not assigned and displayed appropriately.</li>
	<li>"No matching document found" error.</li>
	<li>Facility Data Source does not save Address, Utility and  other related information.</li>
	<li>Metrics do not show Custom metric type when it is opened from the list.</li>
	<li>Comparison Metrics on a Timeline flatten the graphs.</li>
	<li>Pie Widget is cut down when narrowed.</li>
	<li>Presentation Widget details modal does not save values.</li>
	<li>onHover, the Delete dialog for Presentations is distorted.</li>
	<li>Moving a Widget Instance on the Canvas forward or backward results in an error.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>A dialog to designate Default Dashboards for new Users.</li>
	<li>Organizational and Geographical based dimensions used in Widgets.</li>
	<li>Synchronized creation of User Accounts in BrighterLink  and SalesForce.com(SFDC) Platforms.</li>
</ul>

<h3><i>Version 0.2.11</i></h3>
Release date: 11/04/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Updated Viewer mode icons in the Present Application.</li>
	<li>The Dashboard panel only contains Collections which have Dashboards.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Fontsize dialog within the Text Area Widget Instance editor.</li>
	<li>Intuitive Layout dialog indicating the current Layout in use on a Dashboard</li>
	<li>Access to the Brightlink Platform from within the SalesForce.com (SFDC) Platform.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>Group Dimensions are not assigned and displayed appropriately.</li>
	<li>"No matching document found" error.</li>
	<li>Facility Data Source does not save Address, Utility and  other related information.</li>
	<li>Metrics do not show Custom metric type when it is opened from the list.</li>
	<li>Comparison Metrics on a Timeline flatten the graphs.</li>
	<li>Pie Widget is cut down when narrowed.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>A dialog to designate Default Dashboards for new Users.</li>
	<li>Organizational and Geographical based dimensions used in Widgets.</li>
	<li>Synchronized creation of User Accounts in BrighterLink  and SalesForce.com(SFDC) Platforms.</li>
</ul>

<h3><i>Version 0.2.10</i></h3>
Release date: 10/28/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Comparisons of currently selected Date Ranges  to previous periods reflect the correct number of days. </li>
	<li>BrighterView Weather Widgets consistently display Weather related Data.</li>
	<li>Re-introduced the missing Date Range Picker.</li>
	<li>Y-axis values for Widget Instances are formatted more legibly.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>User dialog to grant access to Enphase DataLoggers and allow users to create and assign them to Dashboards, Presentations, and Team Members across the BrighterLink Platform</li>
	<li>Elegant animated delete animations when removing Widgets from Dashboards and the Canvas</li>
	<li>Once logged in  new Users view their Last or previously edited Dashboards.</li>
	<li>Timeline Widget instances are grouped based on their selected Date Range to make them more visually appealing.</li>
	<li>Weather Widget  Instances  include a Title which can be used and displayed in a Presentation.</li>
	<li>By default the Control bar and Date Range are disabled to prevent conflicts and only enabled when a Dashboard is selected.</li>
	<li>A search dialog in the Team section of the Company Panel to enable Users easily search for specific Users.</li>
	<li>Introduced cache busting capabilities to ensure the BrighterLink Platform consists of the latest content.</li>
	<li>Restructured  BrighterLink components to enhance efficient use and improved performance across the platform.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>Group Dimensions are not assigned and displayed appropriately.</li>
	<li>In the Present App, Widgets do not retain their dimensions after being re-sized and refreshing the App.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>A social Accounts dialog in the User Profile, to manage User social accounts. </li>
	<li>Data Rendered Widgets in Real time</li>
	<li>Custom profile photo dialog.</li>
</ul>

<h3><i>Version 0.2.9</i></h3>
Release date: 10/21/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Table Widgets update their appearance whenever their parameters are updated.</li>
	<li>BrighterView Presentations URLs are included in BrighterView Management for easy reference</li>
	<li>The Team section in the Company panel displays a SalesForce.com (SFDC) icon and link for Brightergy Personnel to link their accounts.</li>
	<li>Metrics are instantly available in Widget Editors after updating segments.</li>
	<li>User Accounts are updated with or without billing and shipping addresses.</li>
	<li>Team Members and User Accounts can be deleted.</li>
	<li>onClick, “Apps” in the Team Member details displays available Brighterlink Apps.</li>
	<li>Removed BrighterView Presentation descriptions from Presentations in the Presentation Panel.</li>
	<li>BrighterView Presentations do not overflow in the Presentation Panel.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>CNAME dialog in the Accounts section to create custom URLs for User Accounts.</li>
	<li>Energy Equivalence Widget dialog to manage the purpose of Energy Equivalence Widgets on a Dashboard.</li>
	<li>Date Range auto update functionality to update  Dashboard Widgets when a Date Range is changed.</li>
	<li>Group dimensions are included in Widget Editor dialogs and used in the creation of Widgets.</li>
	<li>A Data Source specific search filter to easily search for and find a Data Source.</li>
	<li>Centralised storage infrastructure to efficiently retrieve BrighterLink assets.</li>
	<li>Summary field included in the Metrics dialog to define the default method for summarizing data.</li>
	<li>Tooltips included in the Advanced Formatting Editor explaining em font size for ease of use in Widgets</li>
	<li>Drag and drop ability to relocate Widgets on a Dashboard.</li>
	<li>Graceful delete animations when removing widgets from the Canvas and Dashboards.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>A comparison of a current selected Date Range  to a previous period does not reflect the correct number of days. </li>
	<li>Group Dimensions are not assigned and displayed appropriately.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>A social Accounts dialog in the User Profile, to manage User social accounts. </li>
	<li>Data Rendered Widgets in Real time</li>
	<li>Custom profile photo dialog.</li>
</ul>

<h3><i>Version 0.2.8</i></h3>
Release date: 10/14/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Widget graphs display data in a more readable format.</li>
	<li>Updated Widget Titles making them more visible.</li>
	<li>Removed the ability to add a Virtual Sensor to a Facility Data Source.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Added a Y-axis label to display metrics associated with a Widget.</li>
	<li>BrighterView Presentations are validated before they play.</li>
	<li>onClick Dashboard titles display a list of  Dashboards that share the same collection to ease navigation between Dashboards. </li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>BrighterView Weather Widget fails to load occasionally.</li>
	<li>Table Widget fails to update appearance when parameters have been updated.</li>
	<li>A comparison of a current selected Date Range  to a previous period does not reflect the correct number of days. </li>
	<li>After updating segments, Metrics are not instantly available in Widget Editor.</li>
	<li>Dragging a Widget Instance in the Timeline, perpetually  plays the "loading" animation.</li>
	<li>BrighterView Presentations overflow in the Presentation Panel.</li>
	<li>Group Dimensions are not assigned and displayed appropriately.</li>
	<li>Pie Widget does not display appropriately in narrow column.</li>
	<li>onClick the Apps link in the Team Member Details redirects Users to the Sources and Groups section instead of the Apps section.</li>
	<li>SalesForce.com(SFDC) does not display for Brightergy Personnel in the Team section</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>A social Accounts dialog in the User Profile, to manage User social accounts. </li>
	<li>A dialog in the Accounts Panel to specify a CNAME for a User Account that is easy to remember.</li>
	<li>Graceful delete animations when removing widgets from the Canvas and Dashboards.</li>
</ul>

<h3><i>Version 0.2.7</i></h3>
Release date: 10/07/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Implemented Create, Read, Update, and Delete (CRUD) capabilities in Dashboards, to allow Team Members edit new and existing dashboards.</li>
	<li>An updated Client Login less prone to User mistakes and accommodates email addresses that have spaces at the end.</li>
	<li>Reverted the gray background on right side of BrighterView viewport to white.</li>
	<li>onClick, BrighterView presentations pause.</li>
	<li>Revised Accounts section in the Company Panel with a more obvious “ New Account” button implying  its intended purpose.</li>
	<li>By default Kilowatt Hours (kWh) are selected in BrighterView Graph Widgets to avoid User  mistakes.</li>
	<li>Restructured Company Panel, Presentation Panel, and Dashboard Segments to include  tagging of Data Sources  by Users.</li>
	<li>User Account billing and shipping addresses are saved and retained when creating a User Account.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Favicon  Icon added to the BrighterLink Platform.</li>
	<li>A more responsive and animated set password dialog.</li>
	<li>Each BrighterView Presentation has a clearly defined date of creation, and it’s respective creator.</li>
	<li>Included a “Show Title “ option within the Widget Editor to show or hide a Widget Instance Title.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>A comparison of a current selected Date Range  to a previous period does not reflect the correct number of days. </li>
	<li>After updating segments, Metrics are not instantly available in Widget Editor.</li>
	<li>BrighterView Weather Widget fails to load occasionally.</li>
	<li>Table Widget fails to update appearance when parameters have been updated.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>A social Accounts dialog in the User Profile, to manage User social accounts. </li>
	<li>A dialog in the Accounts Panel to specify a CNAME for a User Account that is easy to remember.</li>
</ul>

<h3><i>Version 0.2.6</i></h3>
Release date: 09/30/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Restructured Account and Team sections within the Company Panel to facilitate improved data sharing and reuse across the BrighteLink Platform.</li>
	<li>Updated Company Panel Layouts.</li>
	<li>Included Tooltips for BrighterView Widget Instances.</li>
	<li>Creation of  Presentations is possible with Templates.</li>
	<li>Segments are immediately available and do not require a refresh when creating a Dashboard.</li>
	<li>Selecting BrighterView Presentation header view options are reflected in the  header of a BrighterView Presentations.</li>
	<li>Removed placeholder social logins in user profile, team member view details, and team member edit details.</li>
	<li>User Account billing and shipping addresses are not a requirement when creating a User Account.</li>
	<li>Selected Date Ranges  of a previous year are reflected in the Data Range dialog  with its highlighted related color in comparison to the current selected Date Range with its highlighted color. </li>
	<li>Revised the sources input panel to accept and display information appropriately.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Dynamic navigation bar accessible throughout the BrighterLink platform.</li>
	<li>Timeline Widget dialog designed to manage the  purpose of a Timeline Widget Instance on a Dashboard.</li>
	<li>User profile consisting of an upload dialog  profile pictures.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>A comparison of a current selected Date Range  to a previous period does not reflect the correct number of days. </li>
	<li>After updating segments, Metrics are not instantly available in Widget Editor.</li>
	<li>BrighterView Weather Widget fails to load occasionally.</li>
	<li>Table Widget fails to update appearance when parameters have been updated.</li>
	<li>Profile area of Navigation Bar fails to responsively adjust for different name sizes</li>
	<li>Gray background on right side of BrighterView viewport.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>A social Accounts dialog in the User Profile, to manage social accounts. </li>
	<li>CRUD capabilities for Dashboards, to allow Team Members  edit new and existing dashboards.</li>
	<li>A dialog in the Accounts Panel to specify a CNAME for a User Account that is easy to remember.</li>
</ul>

<h3><i>Version 0.2.5</i></h3>
Release date: 09/23/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Updated the font styles, padding, and icon’s functionality in the Infoline.</li>
	<li>Included a tooltip onHover of the Delete link in the control bar to make its purpose more intuitive.</li>
	<li>Changed the page Title “Datasense” to “DataSense”.</li>
	<li>OnClick of the successful confirmation message tab of a shared link, the Share dialog closes.</li>
	<li>Removed the unnecessary Exit button from BrighterView Management.</li>
	<li>Realigned  the overlapping fourth HDSW panel in BrighterView Presentations.</li>
	<li>Eliminated the Presentation Details requirements and instead rely on  Data Sources to provide the data needed to play BrighterView Presentations.</li>
	<li>onClick of an app’s icon from the App’s panel, the selected app is displayed and its data loaded and refreshed.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Widget Editor designed to manage and update  Widgets in a Dashboard.</li>
	<li>Auto update of  Dashboard Widgets without refreshing the page when Segments are modified.</li>
	<li>Delete dialog to delete Dashboards.</li>
	<li>Widget’s auto arrange functionality based on a chosen layout.</li>
	<li>CRUD capabilities to manage presentations in the Presentation Panel.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>A comparison of a current selected Date Range  to a previous period does not reflect the correct number of days. </li>
	<li>A selected Date Range  of a previous Year is not reflected in the Data Range dialog  with its highlighted related color.</li>
	<li>After updating segments, Metrics are not instantly available in Widget Editor.</li>
	<li>Dashboard creation requires refresh before you can add Segments.</li>
	<li>When trying to upload a profile picture the following error appears “success” : 0,  “message” : “You should be assigned with an account for uploading a profile picture.</li>
	<li>Widget Instance Icons lack Tooltips.</li>
	<li>Clicking  Play Presentation and selecting the viewer mode results in an error "Please confirm all options in presentation details".</li>
	<li>Failure to Add a Team Member. Instead a perpetual loading animation appears.</li>
	<li>Only Sensors are selected as Data Sources instead of all Sources.</li>
	<li>Data upload of CSV data and other formats is not possible.</li>
	<li>Non functional outdated Social logins.</li>
	<li>Lacking rapid propagation of default Dashboards.</li>
	<li>Creating a presentation using the "Presentation Template results in an error, "Prompt message appear stating " Please click a Presentation template" and no Presentation is created.</li>
	<li>Unnecessary Presentations input exits in the Team Members panel.</li>
	<li>Selecting BV-Presentation header view options like generation since and last update are not reflected in the  header of a BV-Presentation as it plays.</li>
	<li>Inputting System Size into the presentation details modal is not saved.</li>
	<li>BrighterView Weather Widget fails to load sometimes.</li>
	<li>Navigation bar does not have a White background.</li>
	<li>BrighterView freezes regularly with a loading animation.</li>
	<li>Table Widgets do not expand properly.</li>
	<li>Users are unable to successfully upload a profile picture.</li>
	<li>Placeholder social logins appear in the user profile, team member view and edit details.</li>
	<li>Company Panel layouts do not match design concepts.</li>
	<li>SFDC icon does not appear for BP  in the Team panel.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>Dynamic Navigation bar throughout the BrighterLink platform.</li>
	<li>User’s upload profile  picture feature.</li>
	<li>Widget drag and drop functionality in Dashboards.</li>
</ul>

<h3><i>Version 0.2.4</i></h3>
Release date: 09/16/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Resolved the delete  confirmation error when deactivating Editors from a Presentation.</li>
	<li>Refined Presentation Data control for Team Members.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Widget dialog designed to manage Widgets in a Dashboard.</li>
	<li>Date range dialog to select a current Date range and comparative Date range for a Dashboard.</li>
	<li>Segments dialog to aid Users selecting and add segments to a Dashboard.</li>
	<li>Layout dialog to manage the layout of current Dashboards.</li>
	<li>Add Dashboard dialog to create new Dashboards.</li>
	<li>Default App mapping dialog to determine which App is launched onLogin to the  BrighterLink Platform.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>A comparison of a current selected Date Range  to a previous period does not reflect the correct number of days. </li>
	<li>A selected Date Range  of a previous Year is not reflected in the Data Range dialog  with its highlighted related color.</li>
	<li>After updating segments, Metrics are not instantly available in Widget Editor.</li>
	<li>Dashboard creation requires refresh before you can add Segments.</li>
	<li>When trying to upload a profile picture the following error appears “success” : 0,  “message” : “You should be assigned with an account for uploading a profile picture.</li>
	<li>The page title should capitalize the “S” in DataSense. i.e BrighterLink DataSense.</li>
	<li>Widget Instance Icons lack Tooltips.</li>
	<li>Clicking  Play Presentation and selecting the viewer mode results in an error "Please confirm all options in presentation details".</li>
	<li>Failure to Add a Team Member. Instead a perpetual loading animation appears.</li>
	<li>Only Sensors are selected as Data Sources instead of all Sources.</li>
	<li>Data upload of CSV data and other formats is not possible.</li>
	<li>Non functional outdated Social logins.</li>
	<li>Lacking rapid propagation of default Dashboards.</li>
	<li>Creating a presentation using the "Presentation Template results in an error, "Prompt message appear stating " Please click a Presentation template" and no Presentation is created.</li>
	<li>Infoline Icons are not functional.</li>
	<li>Users are unable to close the Share Presentation Panel, or copy a Presentation link to the clipboard.</li>
	<li>Company Panel layout are not consistent with the design concepts.</li>
	<li>Font styles. padding, and icons are incorrectly formatted.</li>
	<li>Delete link in the Dashboard is not intuitive.</li>
	<li>onClick of the BrighterView App from the Apps panel does not refresh the BrighterView App that you are currently logged into.</li>
	<li>Shipping and Billing addresses are not required fields in the Account details. </li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>Team Members CRUD capabilities in the Presentation Panel.</li>
	<li>Dynamic Navigation bar throughout the BrighterLink platform.</li>
	<li>User’s upload profile  picture feature.</li>
</ul>

<h3><i>Version 0.2.3</i></h3>
Release date: 09/09/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Users’ login into BrighterLink irrespective of the case of their email address.</li>
	<li>Restructured Company Panel’s Assets section targeted towards future BrighterLink development.</li>
	<li>A functional upload and logo selection dialog in the Presentation details modal.</li>
	<li>Redesigned Presentations section in the Presentation Panel, listing all Presentations associated with a specific Editor(s).</li>
	<li>Create, Read, Update, and Delete  (CRUD) capabilities for General, Account, and Presentation Assets based on Team Members’ roles.</li>
	<li>Search capability in the Assets dialog aimed at finding a specific asset.</li>
	<li>Updated sources input functionality to accept and display appropriate information.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>Brightergy Personnel and Administrators control  Team Members  access to Sources & Groups when adding/editing users which determines which Presentations they have access to. </li>
	<li>Facility Utility Provider Variant name suggestions  prevents Users  inputting the wrong  Utility Provider when adding a Utility Provider to a Facility.</li>
	<li>A Team Members' Details dialog  to manage access to Apps.</li>
	<li>Automatic prompt messages notifying Users and preventing them from deleting Data Sources that are used elsewhere in BrighterLink.</li>
	<li>Secure and encrypted login and dialog access throughout BrighterLink.</li>
	<li>An Application Panel that guarantees access to the BrighterView and DataSense App within BrighterLink.</li>
	<li>A Dashboard Panel to allow Team Members to interact with the available Dashboards.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>Deactivating Editors in Presentations presents an unwanted delete confirmation.</li>
	<li>Shipping and Billing addresses are not required fields in the Account details. </li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>Dynamic Navigation bar throughout the BrighterLink platform.</li>
	<li>A default App dialog to determine which App should open onLogin.</li>
	<li>Layout Dialog to manage the Layout of Dashboards.</li>
</ul>

<h3><i>Version 0.2.2</i></h3>
Release date: 09/02/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Redesigned  BrighterView Management with a new  application structure and coding standard.</li>
	<li>A cleaner and more intuitive Infoline in the Timeline.</li>
	<li>Daily loading of Forecast data so that it can be used throughout BrighterLink.</li>
	<li>Improved the Presentation page performance and ceased its reliance on SFDC (Salesforce.com).</li>
	<li>Updated the Canvas to preview Presentations without opening up a new tab, or window.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>New design concepts for the DataSense application components depicting a Share Dialog, Widget Instances, and Segments.</li>
	<li>A Data Source Panel in the Presentation Panel to manage the assignment of Presentations.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>Email addresses with upper case letters cannot be used to log into BrighterLink.</li>
	<li>Shipping and Billing addresses are not required fields in the Account details.</li>
</ul>

<h4>Coming Soon</h4>
<ul>
	<li>Dynamic Navigation bar throughout the BrighterLink platform.</li>
	<li>Auto-update date range functionality to automatically update a dashboard's Widget.</li>
	<li>Copy Link dialog to share a Dashboard.</li>
	<li>Widget Editor.</li>
	<li>Dashboard Panel.</li>
</ul>

<h3><i>Version 0.2.1</i></h3>
Release date: 08/26/2014

<h4>Upgrades and Fixes</h4>
<ul>
	<li>Deprecated legacy services and optimized system performance using a new platform perfect for data-intensive real-time applications that run across distributed devices.</li>
	<li>Optimized the Company Panel using a single stylesheet to avoid conflicts with other sections within the Panel.</li>
</ul>

<h4>New Feature(s)</h4>
<ul>
	<li>A Data Source section in the Company Panel to facilitate the management of  different Data Sources namely, Facilities, Data Loggers, Sensors, and Metrics.</li>
	<li>A redesigned Editors Section in the Presentation Panel with better management functionality.</li>
	<li>onClick, Team Members utilize a  Share Dialog to share Presentations.</li>
	<li>BrighterLink Presentations use data from Enphase Data Loggers.</li>
	<li>Optimized our database to manage Forecast data from a centralized location via a single Application Programming Interface (API).</li>
	<li>Incorporated  a powerful and intuitive  mobile first  front-end framework into BrighterLink for faster and easier web development.</li>
	<li>Introduced an Application Programming Interface (API) generation tool to build well-designed  API documentation for the BrighterLink  Platform.</li>
	<li>Developed a new application structure to meet our new coding standards and scalability demands.</li>
	<li>A Company Panel’s Groups section optimized to use the new application structure and coding standard for BrighterLink so that it is scalable.</li>
</ul>

<h4>Limitations</h4>
<ul>
	<li>Email addresses  with upper case letters cannot be used to log into BrighterLink.</li>
	<li>Shipping and Billing addresses are not required fields in the Account details. </li>
</ul>

<h4>Coming Soon</h4>
<ul>	
	<li>Team Members' details dialog to manage team members' access to an app.</li>
	<li>Secure and  encrypted Login.</li>
	<li>Upload dialog and logo selection in the Presentation Details modal.</li>
</ul>
<!-- End content -->
</div>