<div class="row">
    <div class="col-sm-8">
        <p>Your solar panels produce DC (direct current)  electricity, which is then sent to your inverters where it is converted to AC (alternating current) electricity that your facility is able to use.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-7 padding-top-10">
        <div class="img-how-solar-work"></div>
    </div>
    <div class="col-sm-5 padding-top-50">
        <p>1. Solar panels absorb sunlight and convert it to DC electricity.</p>
        <p>2. DC electricity from the solar panels travels to the inverters where it is converted to AC electricity.</p>
        <p>3. From the inverter, AC electricity passes to the electric service panel (breaker box) where it's routed to power your building.</p>
        <p class="bottom">4. When your solar system generates more power than your building is consuming, excess electricity is routed to the power grid. This earns credits on you bill (called net-metering).</p>
    </div>
</div>