//colors

$color_pst_blue: #0081b6;
$color_pst_blue_2: #008dc6;

$color_pst_white_light: #f0efee;

$color_pst_green_dark: #8a9337;

$color_pst_grey_2: #92949b;
$color_pst_grey_3: #b4b7be;
$color_pst_grey_4: #bec2c4;
$color_pst_grey_light: #e3e3e5;
$color_pst_grey_dark: #64656a;
$color_pst_grey_dark_2: #4e4f53;

$color_pst_orange: #f2672a;
$color_pst_orange_light: #f7a47f;
$color_pst_orange_hot: #f9d8ca;

$white: white;

$color_pst_shadow: rgba(50, 50, 50, 0.75);