.f-question {
  display: inline-block;
  background: url('/bl-bv-management/assets/img/icons.png');
  background-position: -155px -130px;
  margin-top: 10px;
}
.f-widgets {
  background-position: 0 0;
}
.f-presents {
  background-position: -52px 0;
}
.f-users {
  background-position: -103px 0;
}
.icon-mini {
  display: inline-block;
  background: url(/bl-bv-management/assets/img/icons_mini.png);
  position: relative;
  top: -2;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}