#please-wait {
  background: transparent url('/bl-bv-management/assets/img/pleasewait.gif');
  height: 125px;
  width: 175px;
  border-radius: 3px;
}
#loader {
  background: transparent url('/bl-bv-management/assets/img/Loader.svg');
  height: 169px;
  width: 169px;
  border-radius: 3px;
  opacity: 0.8;
}
#loader2 {
  background: transparent url('/bl-bv-management/assets/img/Loader.gif');
  height: 296px;
  width: 358px;
  border-radius: 3px;
  opacity: 0.8;
}