//colors
$color_inputbox: #555555;
$color_input_border: #cccccc;

$color_white: #fff;
$color_white_light: #f2f2f2;
$color_white_light_2: #eaeaea;

$color_grey_light: #aaa;
$color_grey: #999;
$color_grey_dark: #333;

$color_black_light: #111;
$color_black: #000;

$color_red: #f00;

$color_bv_green: #2ecc71;

$color_bv_blue_dark: #006b97;
$color_bv_blue_1: #0081b6;
$color_bv_blue_2: #3391b4;
$color_bv_blue_light: #bce0ed;
$color_bv_blue_light_2: #94afba;
$color_bv_blue_3: #2980b9;


$color_border_grey_light: #eaeaea;
$color_border_grey: #c0c0c0;

$color_dropdown_border: #ddd;
$color_dropdown_selected: #eee;

$color_pp_background: #848f3a;
$color_pp_arrow: #697329;

$color_presentation_delete_background: #c21419;

$color_error: #b94a48;
$color_tooltip_background: #0090ff;

$color_placeholder: #666;

$color_box_shadow_1: rgba(0, 0, 0, 0.2);

$color_panel_border: #f5f5f5;
$color_panel_border_inner: #ebebeb;
$color_panel_label: #999999;
$color_panel_input_bg: #f7f7f7;