.widgetsSelector {
  width: 315px;
  float: left;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: calc(100% - 120px);
    li {
      width: 310px;
      height: 72px;
      text-align: left;
      color: $color_grey_dark;
      font-size: 16px;
      float: left;
      margin-bottom: 12px;
      border-radius: 2px;
      @include box-shadow(1px 2px 2px $color_box_shadow_1);

      &.p-active {
        border: 1px dashed #f3c133;
        background: #fef8d3;
        height: 70px;
        z-index: 999;
        @include box-shadow(none);
      }

      .component_link {
        width: 310px;
        height: 72px;
        display: block;
        cursor: pointer;
        z-index: 2;
        position: relative;
        color: $color_grey_dark;
        text-decoration: none;
        font-size: 10pt;
        padding: 15px 5px;
        border-radius: 2px;
        .widget-color {
          position: absolute;
          width: 5px;
          top: 15px;
          left: 5px;
          height: 42px;
          border-radius: 10px;
        }
        img {
          float: right;
          height: 32px;
          margin-top: 5px;
          margin-right: 5px;
        }
        .widget-name {
          padding-left: 20px;
          padding-top: 11px;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }
}

div {
  &.components {
    display: block;
    border-radius: 6px;
    border: 1px dashed #0071CC;
    background-color: $color_white;
    position: absolute;
    cursor: pointer;
    min-width: 139px;
    min-height: 139px;
    .widget-content {
      .resize-widge-name {
        font-size: 20px;
      }
      img.resize-img-icon {
        width: 40px;
      }
    }
  }
  &.checker {
    margin-left: 0;
    height: 30x;
    span {
      margin-top: 8px;
    }
  }
  &.component-textarea {
    min-height: 69.5px;
  }
}

.template-title {
  padding: 5px 15px;
  line-height: 1em;
}
.w-icon {
  width: 19px;
  height: 18px;
  display: inline-block;
  background-image: url(/bl-bv-management/assets/img/iconsSet-widget-sprite.png);
}
i {
  &.w-arrow-left {
    background-position: -48px -15px;
    &:hover {
      background-position: -48px -47px;
    }
  }
  &.w-arrow-right {
    background-position: -16px -15px;
    &:hover {
      background-position: -16px -47px;
    }
  }
  &.w-plus {
    background-position: -78px -15px;
    &:hover {
      background-position: -78px -47px;
    }
  }
  &.w-edit {
    background-position: -110px -15px;
    &:hover {
      background-position: -110px -47px;
    }
  }
  &.w-trash {
    background-position: -142px -15px;
    &:hover {
      background-position: -142px -47px;
    }
  }
  &.w-eye-open {
    background-position: -173px -15px;
    &:hover {
      background-position: -173px -47px;
    }
  }
}

.horizontal-energy-block {
  width: 790px;
  height: 190px;
  .energy-obj {
    .reduced-left {
      float: left;
      width: 31%;
      background-color: #008dc6;
      height: 100%;
      border-radius: 4px;
      color: $color_white;
      .title {
        font-size: 2.2em;
        width: 60%;
        line-height: 1.15em;
        margin-top: 7%;
        margin-left: 10%;
        z-index: 3;
        position: relative;
        margin-bottom: 5px;
      }
      .avoid {
        margin-left: 10%;
        z-index: 3;
        position: relative;
        line-height: 1.2em;
        margin-bottom: 7px;
      }
      .emission {
        margin-left: 10%;
        z-index: 3;
        position: relative;
        line-height: 1.2em;
        margin-bottom: 7px;
      }
    }
    .equal {
      float: left;
      width: 8.6%;
      margin-left: -4.3%;
      height: 100%;
      position: relative;
      z-index: 1;
      img {
        width: 100%;
        opacity: 0.9;
        background-color: #1281b7;
        border-radius: 100px;
      }
    }
    .reduced-right {
      float: left;
      width: 68%;
      height: 100%;
      margin-left: -3.8%;
      background-color: $color_white;
      position: relative;
      border-radius: 4px;
    }
  }
  .reduced-right {
    .img-part {
      float: right;
      .center {
        vertical-align: bottom;
      }
    }
    .text-part {
      position: absolute;
      line-height: normal;
      left: 9%;
      top: 8%;
    }
  }
  .dummy {
    padding-top: 100%;
  }
  .img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .centerer {
    text-align: right;
    font: 0/0 a;
  }
  .center {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .centered {
    vertical-align: middle;
    display: inline-block;
  }
  .img-part img {
    width: 64%;
  }
  .text-part .four-line {
    display: inline-block;
  }
}
.energy-obj {
  height: 100%;
  width: 100%;
}

.text-part {
  .inverter-value {
    font-size: 4.3em;
    color: #008dc3;
    display: inline-block;
  }
  .right-bottom-name {
    color: #008dc3;
    font-size: 0.3em;
    width: 10%;
    display: inline-block;
  }
  .right-top-name {
    color: #008dc3;
    font-size: 0.3em;
    vertical-align: top;
    line-height: 2.2em;
  }
  .inverter-name {
    color: #4e4f53;
    font-size: 2.2em;
    text-transform: uppercase;
  }
  .top-name {
    color: #4e4f53;
    font-size: 1.8em;
  }
  .two-line {
    color: #008dc3;
    font-size: 1.3em;
    display: inline-block;
    margin-left: 10px;
    p {
      padding: 0;
      margin: 0;
    }
  }
  .one-line {
    color: #008dc3;
    font-size: 1.3em;
  }
  .three-line {
    color: #4e4f53;
    font-size: 1.3em;
  }
  .inline {
    display: inline-block;
  }
  .four-line {
    color: #4e4f53;
    font-size: 1.3em;
    margin-left: 10px;
  }
}
.vertical-energy-block {
  margin: 20px 0;
  width: 360px;
  height: 380px;
  background-color: #f0f0f0;
  .reduced-top {
    height: 26%;
    width: 100%;
    background-color: #1281b7;
    border-radius: 4px;
    display: table;
    .reduced-center {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $color_white;
      padding: 10px 0;
    }
    .title {
      font-size: 2.2em;
      margin: auto;
      width: 90%;
      line-height: 1.15em;
      margin-bottom: 5px;
      position: relative;
      z-index: 3;
    }
  }
  .reduced-center {
    .avoid {
      position: relative;
      z-index: 3;
      line-height: 1em;
      margin-bottom: 7px;
    }
    .emission {
      position: relative;
      z-index: 3;
      line-height: 1em;
      margin-bottom: 7px;
    }
  }
  .equal {
    text-align: center;
    margin-top: -9%;
    position: relative;
    z-index: 2;
    img {
      height: 100%;
      width: 19.1%;
      background-color: #1281b7;
      border-radius: 100px;
    }
  }
  .reduced-bottom {
    height: 71%;
    width: 100%;
    background-color: $color_white;
    margin-top: -8.8%;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    display: table;
    img {
      height: 81.4%;
      width: 100%;
    }
    .img-part {
      display: table-cell;
      vertical-align: bottom;
    }
    .text-part {
      position: absolute;
      line-height: normal;
      left: 9%;
      top: 8%;
    }
  }
  .text-part .four-line {
    margin-left: 0;
  }
}
.how-does-solar {
  background-image: url('/bl-bv-management/assets/img/HDSW_illustration_clean.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.weather-widget {

  .weather-info {
    width: 100%;
    height: 100%;
    background: $color_white;
    border-radius: 4px;
    display: table;
  }

  .weather-detail {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: $color_white;

    .wind-info {
      height: 24%;
      margin: auto;
      width: 84%;

      > div {
        width: 100%; 
        display: table-cell; 
        vertical-align: middle;
      }

      .wind-speed {
        width: 35%; 
        float: left;  
        color:#b4b5ba; 
        margin-top: -1%;
      }
    }

    .box-center {
      border-top: 1px solid #e3e5ec; 
      border-bottom: 1px solid #e3e5ec; 
      height: 31%; 
      width: 92%; 
      margin: auto;

      > div{
        display: table-cell; 
        vertical-align: middle;
      }

      .summary{
        height: 100%; 
        width: 50%; 
        float: left;
      }

      .temperature{
        height: 100%; 
        width: 48%; 
        float: left;
      }
    }
  }

  .weather-content {
    display: table-cell; 
    vertical-align: middle;

    .temperature {
      height: 100%; 
      width: 38%; 
      float: left;
    }

    .summary {
      height: 100%; 
      width: 23%; 
      float: left; 
      margin-top: -4%;
    }

    .wind {
      width: 35%; 
      float: right; 
      color:#b4b5ba; 
      margin-top: 2%;
    }
  }
  .current-date {
    > div {
      display: table-cell;
      vertical-align: middle; 
      text-align: center;
    }
  }
}

.today-6days {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 100%;
  li {
    float: left;
    width: 16.4%;
    height: 100%;
    border-left: 1px solid #007aab;
    &.first {
      border-left: 0;
    }
    .day-info {
      height: 100%;
      margin: auto;
      text-align: center;
    }
  }
}
.horizontal-generation-block {
  .reduced-left {
    float: left;
    width: 30%;
    background-color: #008dc6;
    height: 100%;
    border-radius: 4px;
    .title {
      color: $color_white;
      font-size: 2.2em;
      line-height: 1.15em;
      margin-left: 10%;
    }
  }
  .reduced-right {
    float: left;
    width: 70%;
    height: 100%;
    background-color: $color_white;
    position: relative;
    border-radius: 4px;
    display: table;
    .current-block {
      width: 96%;
      padding-left: 3%;
      padding-right: 3%;
      margin-bottom: 5px;
      line-height: 1em;
      .reimbursement {
        color: #008dc5;
      }
    }
    .summary {
      display: inline-block;
      font-size: 1.8em;
      width: 47%;
      line-height: 1em;
      .since-date {
        font-size: 0.7em;
        line-height: 0.7em;
        color: #b3b4b9;
        margin-top: 4%;
        line-height: 1em;
      }
    }
    .value {
      display: inline-block;
      border-left: 1px solid #b4b5ba;
      height: 0.88em;
      font-size: 3.5em;
      line-height: 1em;
      color: #008dc5;
      padding-left: 1%;
    }
  }
}
.vertical-generation-block {
  .reduced-left {
    background-color: #8d9639;
    border-radius: 4px;
    display: table;
    width: 100%;
    height: 21%;
    .reduced-left-box {
      display: table-cell;
      vertical-align: middle;
    }
    .title {
      color: $color_white;
      font-size: 2em;
      width: 87%;
      margin: auto;
      margin-top: 4%;
      margin-bottom: 4%;
      line-height: 1em;
    }
  }
  .reduced-right {
    background-color: $color_white;
    border-radius: 4px;
    height: 79%;
    font-size: 1.8em;
    display: table;
    width: 100%;
    .reduced-right-box {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      padding: 4% 0;
      .summary {
        font-weight: bold;
        line-height: 1em;
      }
    }
    .current-block {
      width: 88%;
      margin: auto;
      line-height: 1em;
      margin-top: 2%;
      .reimbursement {
        color: #f3672a;
      }
    }
    .value {
      height: 0.88em;
      font-size: 2em;
      line-height: 1em;
      color: #f3672a;
      margin-top: 3%;
    }
    .since-date {
      font-size: 0.7em;
      color: #92959c;
      line-height: 1em;
    }
  }
}

.widget-weather {
  background-position: 0 0;
}
.widget-iframe {
  background-position: -16px 0;
}
.widget-image {
  background-position: -32px 0;
}
.widget-textarea {
  background-position: -48px 0;
}
.widget-kwhgenerated {
  background-position: -64px 0;
}
.widget-graph {
  background-position: -80px 0;
}
.widget-howdoessolarwork {
  background-position: -96px 0;
}
.widget-energyequivalencies {
  background-position: -112px 0;
}
.text-preview {
  ul {
    list-style-type: disc;
    margin: 0 0 10px 25px;
    li {
      list-style-type: disc;
    }
  }
  ol li {
    list-style-type: decimal;
  }
}
.preview-iframe {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: $color_white;
  > div {
    padding-top: 100px;
    font-size: 20px;
    color: $color_red;
  }
}


.components .widget-content {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  .widget-box-center {
    display: table-cell;
    vertical-align: middle;
    img {
      display: inline-block;
    }
  }
}
.widget-content .widget-font {
  font-size: 28px;
  margin-top: 10px;
}

.energy-ul .form-group {
  .control-label {
    width: 205px;
  }
  .controls {
    margin-left: 230px;
  }
}
.weather-info .main {
  width: 83%;
  margin: auto;
}
.weather-detail .wind-info {
  .wind-number {
    font-size: 2.5em;
    color: #4e4f53;
    line-height: 1em;
    font-weight: bold;
  }
  .wind-kind {
    font-size: 0.9em;
    color: #92949b;
    text-transform: uppercase;
    font-weight: bold;
  }
  .wind-percent {
    font-size: 0.8em;
    color: #bfc0c4;
  }
  .wind-block {
    width: 22%;
    float: left;
    color: #b4b5ba;
    height: 50%;
  }
}
.day-info .week {
  line-height: 1em;
  font-size: 1.2em;
  color: $color_white;
  opacity: 0.5;
}

//------------ custom image.html ---------
#custom #imageURL {
  width: 85%;
}

//-------- custom textarea.html ----------
.custom-textarea  {
  .control-label{
    width: 80px;
  }
  .controls{
    margin-left: 80px;
  }
}

/*----- preview wather-minimal.html ------*/

.weather-widget .weather-content {
  display: table-cell; 
  vertical-align: middle;
}

.weather-widget .weather-content .temperature {
  height: 100%; 
  width: 38%; 
  float: left;
}

.weather-widget .weather-content .summary {
  height: 100%; 
  width: 23%; 
  float: left; 
  margin-top: -4%;
}

.weather-widget .weather-content .wind {
  width: 35%; 
  float: right; 
  color:#b4b5ba; 
  margin-top: 2%;
}

.weather-widget .current-date > div {
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
}

.weather-widget .weather-detail .box-center {
  border-top: 1px solid #e3e5ec; 
  border-bottom: 1px solid #e3e5ec; 
  height: 31%; 
  width: 92%; 
  margin: auto;
}
.weather-detail .box-center > div{
  display: table-cell; 
  vertical-align: middle;
}

.weather-detail .box-center .summary{
  height: 100%; 
  width: 50%; 
  float: left;
}

.weather-detail .box-center .temperature{
  height: 100%; 
  width: 48%; 
  float: left;
}

.weather-detail .wind-info > div {
  width: 100%; 
  display: table-cell; 
  vertical-align: middle;
}

.weather-detail .wind-info .wind-speed {
  width: 35%; 
  float: left;  
  color:#b4b5ba; 
  margin-top: -1%;
}

.widget-preview-container {

  position: relative;

  .widget-preview-preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -4px;
  }
}