/* Benton Sans Cond(Light, Normal, Medium, Bold), Benton Sans Light(normal, italic),  Benton Sans(normal, italic) */

/* Benton Sans Cond(Light, Normal, Medium, Bold) */
@mixin FontFamily_BentonSansCond($weight: Normal) {
  @if ($weight == Light) or ($weight == Medium) {
    font-family: "Benton Sans Cond #{$weight}";
    font-weight: normal;
  } @else if ($weight == Bold){
    font-family: "Benton Sans Cond";
    font-weight: bold;
  } @else {
    font-family: "Benton Sans Cond";
    font-weight: normal;
  }
}

/* Benton Sans Light(normal, italic) */
@mixin FontFamily_BentonSansLight($style: normal) {
  font-family: "Benton Sans Light";
  @if ($style == italic) or ($style == normal) {
    font-style: $style;
  } @else {
    font-style: normal;
  }
}

/* Benton Sans(normal, italic) */
@mixin FontFamily_BentonSans($style: normal) {
  font-family: "Benton Sans";
  @if ($style == italic) or ($style == normal) {
    font-style: $style;
  } @else {
    font-style: normal;
  }
}

/* Benton Sans Medium */
@mixin FontFamily_BentonSansMedium() {
  font-family: "Benton Sans Medium";
  font-style: normal;
  font-weight: 400;
}

//@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=402ddc0b-69c3-4f05-b237-e324748e681e&fontids=694021,694027,694033");
@font-face{
    font-family:"HelveticaNeueW02-55Roma";
    src:url("../fonts/HelveticaNeueW02-55Roma.eot?#iefix");
    src:url("../fonts/HelveticaNeueW02-55Roma.eot?#iefix") format("eot"),
        url("../fonts/HelveticaNeueW02-55Roma.woff2") format("woff2"),
        url("../fonts/HelveticaNeueW02-55Roma.woff") format("woff"),
        url("../fonts/HelveticaNeueW02-55Roma.ttf") format("truetype"),
        url("../fonts/HelveticaNeueW02-55Roma.svg#HelveticaNeueW02-55Roma") format("svg");
}
@font-face{
    font-family:"HelveticaNeueW02-65Medi";
    src:url("../fonts/HelveticaNeueW02-65Medi.eot?#iefix");
    src:url("../fonts/HelveticaNeueW02-65Medi.eot?#iefix") format("eot"),
        url("../fonts/HelveticaNeueW02-65Medi.woff2") format("woff2"),
        url("../fonts/HelveticaNeueW02-65Medi.woff") format("woff"),
        url("../fonts/HelveticaNeueW02-65Medi.ttf") format("truetype"),
        url("../fonts/HelveticaNeueW02-65Medi.svg#HelveticaNeueW02-65Medi") format("svg");
}
@font-face{
    font-family:"HelveticaNeueW02-75Bold";
    src:url("../fonts/HelveticaNeueW02-75Bold.eot?#iefix");
    src:url("../fonts/HelveticaNeueW02-75Bold.eot?#iefix") format("eot"),
        url("../fonts/HelveticaNeueW02-75Bold.woff2") format("woff2"),
        url("../fonts/HelveticaNeueW02-75Bold.woff") format("woff"),
        url("../fonts/HelveticaNeueW02-75Bold.ttf") format("truetype"),
        url("../fonts/HelveticaNeueW02-75Bold.svg#HelveticaNeueW02-75Bold") format("svg");
}
@font-face {
    font-family: 'brightergy';
    src:url('../fonts/brightergy.eot?nv024h');
    src:url('../fonts/brightergy.eot?#iefixnv024h') format('embedded-opentype'),
    url('../fonts/brightergy.woff?nv024h') format('woff'),
    url('../fonts/brightergy.ttf?nv024h') format('truetype'),
    url('../fonts/brightergy.svg?nv024h#brightergy') format('svg');
    font-weight: normal;
    font-style: normal;
}