<div class="panel bl-sidebar-panel">
  <div class="panel-heading">
      <a class="panel-title collapse collapsed" data-toggle="collapse" data-parent="#l-panel" href="#collapseTwo">
        <span class="nav-label">Widgets</span><button type="button" class="btn btn-bl-default inactive pull-right"><i class="icon s-add"></i> Add Widget</button>
      </a>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse">
    <div class="panel-body">
        <div class="input-group nav-search">
            <input type="text" value="Search">
            <span class="input-group-addon"></span>
        </div>
        <div class="widget-list-wrapper">
            <div class="widget-list-row">
                <div class="col">
                    <div class="widget">
                        <i class="widget-icon timeline"></i>
                        <span class="caption">Timeline</span>
                    </div>
                </div>
                <div class="col">
                    <div class="widget">
                        <i class="widget-icon pie"></i>
                        <span class="caption">Pie</span>
                    </div>
                </div>
                <div class="col">
                    <div class="widget">
                        <i class="widget-icon bar"></i>
                        <span class="caption">Bar</span>
                    </div>
                </div>
                <div class="col">
                    <div class="widget">
                        <i class="widget-icon table"></i>
                        <span class="caption">Table</span>
                    </div>
                </div>
            </div>
            <div class="widget-list-row">
                <div class="col">
                    <div class="widget">
                        <i class="widget-icon image"></i>
                        <span class="caption">Image</span>
                    </div>
                </div>
                <div class="col">
                    <div class="widget">
                        <i class="widget-icon equivalencies"></i>
                        <span class="caption">Equivalencies</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>