.profile-page-actions {
    margin-left: -27px;
    a.btn-link {
        color: $blue-lighter-x;
        margin-right: 30px;
        &:hover, &:focus {
            color: $link-color;
        }
        .icon {
            display: inline-block;
            margin-right: 8px;
            margin-top: -1px;
        }
    }
}
#social-link-wrapper {
    padding-top: 30px;
    p {
        color: $blue-lighter;
    }
    a {
        width: 100%;
        padding: 15px 0;
        text-align: center;
        border-radius: 3px;
        height: 55px;
        float: none;
        > span {
            text-align: left;
        }
        &:hover {
            background: $gray-background;
            color: $blue-lighter;
        }
        &.active {
            background: $link-color;
            color: $white;
        }
    }

    .close {
        position: absolute;
        background: inline-image("components/settings/assets/img/close-modal.png") no-repeat;
        width: 12px;
        height: 12px;
        opacity: 1;
        top: 20px;
        right: 20px;
    }
}

.plugin #providers {
    width: 100%;
    float: none;
    .providers_group {
        width: 100%;
        float: none;
    }
    .providers_row {
        @include clearfix();
    }
    .provider {
        width: 50%;
        padding: 10px 10px;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 4px;
    }
    .provider .button {
        width: 35px;
        height: 35px;
        cursor: pointer;
        display: block;
        position: relative;
        z-index: 9998;
        outline: 0;
        float: left;
    }
    .provider_linked .button .tick {
        background: inline-image("components/settings/assets/img/close-modal.png") no-repeat;
        width: 12px;
        height: 12px;
        right: -102px;
        top: 5px;

    }
    .provider {
        background: #f1f4f6;
        margin: 5px;
        width: 185px;
        border: 1px solid #89969d;
        .name {
            color: #89969d;
            margin-top: 7px;
            margin-bottom: 7px;
            font-size: 13px;
            text-align: left;
            margin-left: 60px;
        }
        &:hover, &.provider_linked {
            background: #2d8abd;
            .name {
                color: #ffffff;
            }
            #button_google {
                background-position: -51px -78px;
            }
            #button_github {
                background-position: -78px -49px;
            }
            #button_twitter{
                background-position: -25px -49px;
            }
            #button_amazon{
                background-position: -105px -49px;
            }
            #button_facebook{
                background-position: -82px -78px ;
            }
            #button_yahoo {
                background-position: 0 -49px;
            }
            #button_linkedin {
                background-position: 0 -77px ;
            }
            #button_windowslive {
                background-position: -27px -79px;
            }
            #button_openid{
                background-position: -51px -49px;
            }
        }
        .button {
            margin: 4px 0 0 20px;
            background: inline-image('/components/settings/assets/img/social-spirite.png') no-repeat;
        }
        #button_google {
            background-position: -51px -29px;
            width: 22px !important;
            height: 20px !important;
        }
        #button_github {
            background-position: -78px 0;
            width: 22px !important;
            height: 18px !important;
        }
        #button_twitter{
            background-position: -25px 0;
            width: 22px !important;
            height: 15px !important;
        }
        #button_amazon{
            background-position: -105px 0;
            width: 22px !important;
            height: 18px !important;
        }
        #button_facebook{
            background-position: -82px -29px ;
            width: 18px !important;
            height: 18px !important;
            margin-left: 24px;
        }
        #button_yahoo {
            background-position: 0 0;
            width: 22px !important;
            height: 20px !important;
        }
        #button_linkedin {
            background-position: 0 -28px ;
            width: 22px !important;
            height: 17px !important;
        }
        #button_windowslive {
            background-position: -27px -30px;
            width: 20px !important;
            height: 14px !important;
            margin-left: 22px;
        }
        #button_openid{
            background-position: -51px 0;
            width: 22px !important;
            height: 21px !important;
        }
    }
}

@media (max-width: $screen-as-large) {
    .social-networks {
        padding:90px 20px;
    }
}

@media (max-width: $screen-lg) {
    .social-networks {
        padding:90px 0;
    }
}

@media (max-width: $screen-as-medium) {
    .social-networks {
        padding-left: 15%;
        //        width: 300px;
    }
}
