<div id="social-login-wrapper" class="ppanel-section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="icon icon-ui-info"></i>
            <h3 class="panel-title">Social Login</h3>
        </div>
        <div class="panel-body no-padding">
            <div class="social-networks">
                <p>Login to BrighterLink using your social networks</p>
                <div id="oa_social_link_container"></div>
            </div>
        </div>
    </div>
</div>