#loader{
  background: transparent url('/bl-bv-management/assets/img/Loader.svg');
  height: 169px;
  width: 169px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  opacity: 0.8;
}
#loader2{
  background: transparent url('/bl-bv-management/assets/img/Loader.gif');
  height: 296px;
  width: 358px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  opacity: 0.8;
}