//== Primary Nav

$primary-nav-link:              $blue;
$primary-nav-link-active:       $grape;
$primary-nav-link-dark:         #336699;

//== Widget List
$widget-promo-caption:          #838383;
$widget-promo-caption-active:   $green;

//== Secondary Nav
$secondary-nav-brand:           #011a22;